/* Breadcrumb */
.notion-header .notion-page-icon-inline {
    width: 18px;
    height: 20px;
}

/* Hide blank blocks on Homepage in when on small devices */
@media only screen and (max-width: 500px) {
    .index-page .notion-blank {
        display: none;
    }

    .index-page .notion-h {
        margin-top: initial !important;
    }
}

/* Remove padding left/right of class notion-page */
.notion-page {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media only screen and (max-width: 720px) {
    .notion-page {
        padding-left: 4vw !important;
        padding-right: 4vw !important;
    }
}

/* Hide database block */
.notion-block-210cb89130b54fcc956beefa783d2477 {
    display: none !important;
}

/* Hide properties bottom line */
.notion-collection-row {
    /* border-bottom: none; */
    border-bottom: 1px solid #7777774d;
    margin-bottom: initial;
}

.notion-collection-row-property:has(.notion-property-url:empty) {
    display: none;
}

.notion-collection-row-property:has(.notion-property-text:empty) {
    display: none;
}

.notion-collection-row-property:has(.notion-property-formula:empty) {
    display: none;
}

/* Display full image */
.notion-asset-wrapper-image.notion-asset-wrapper-full > div {
    height: initial !important;
    z-index: 1;
    box-shadow: #ffffff 0px 24px 16px, #ffffff 0px -24px 16px;
}

.dark-mode .notion-asset-wrapper-image.notion-asset-wrapper-full > div {
    height: initial !important;
    z-index: 1;
    box-shadow: #2f3437 0px 24px 16px, #2f3437 0px -24px 16px;
}

/* Force Aside under full image block */
.notion-aside {
    z-index: 0;
    align-items: end;
    padding: 0 32px;
}

/* Footer */
.light-mode .styles_footer__RBpyk {
    color: #37352f80;
}

.dark-mode .styles_footer__RBpyk {
    color: #ffffff40;
}

@media only screen and (max-width: 500px) {
    .styles_footer__RBpyk {
        flex-direction: row-reverse !important;
    }
}

/* Link */
.notion-link {
    border-bottom: none;
}

.notion-page-title-text {
    border-bottom: none !important;
}

/* Custom menu */
.notion-block-8063463eba084138a52fd42586cd57fa {
    justify-content: space-between;
    background: #f7f7f7;
    border-radius: 3px;
    padding: 0px 16px;
}

.dark-mode .notion-block-8063463eba084138a52fd42586cd57fa {
    background: #f7f7f71a;
}

.notion-block-8063463eba084138a52fd42586cd57fa > div > div {
    height: 28px;
    margin: auto !important;
}
.notion-block-8063463eba084138a52fd42586cd57fa div:nth-child(even) {
    display: none;
}
.notion-block-8063463eba084138a52fd42586cd57fa div:nth-child(odd) {
    width: auto !important;
}
.notion-sync-block .notion-default {
    height: 24px;
}

/* CV */
.notion-block-d46ec141fb0841f3846c319c4403fb7f {
    display: flex;
}

.notion-block-d46ec141fb0841f3846c319c4403fb7f .notion-link {
    display: flex;
}

/* Collection */

.notion-collection {
    width: 100%;
}

/* Collection small font-size */
.notion-gallery-grid.notion-gallery-grid-size-small .notion-page-title-text {
    font-size: 1.7em;
}

div:has(+ .notion-block-6644e53486974cc99c7011fd0b1680a6) {
    width: 100%;
}

.notion-collection-view-tabs-row {
    overflow: auto;
    flex-wrap: nowrap;
}

/* Hide collection tabs scroll bar */
.notion-collection-view-tabs-row::-webkit-scrollbar {
    display: none;
}

.notion-collection-card-cover {
    border-radius: 8px;
    height: initial !important;
    box-shadow:  0px 20px 24px -8px rgba(15, 15, 15, 0.1);
    border-bottom: none;
}

.dark-mode .notion-collection-view-type-icon {
    fill: var(--fg-color);
}

.notion-gallery-grid, .notion-list-body {
    border-top: 1px solid #7777774d;
}

/* .light-mode .notion-gallery-grid, .notion-list-body {
    border-top: 1px solid var(--fg-color-1);
} */

.notion-list-body {
    gap: 2px;
}

.notion-list-item {
    border-radius: 3px;
    height: initial;
    padding: 4px;
}

@media only screen and (max-width: 500px) {

    /* Collection re-order list items */
    .notion-list-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .notion-list-item-body {
        margin-left: 30px;
    }

    .notion-list-item-body:has(.notion-property-text:empty) {
        display: none;
    }
    
    .notion-list-item-property {
        margin: 0;
    }
}

/* Re-make collection tabs view & behavior */
.notion-collection-view-type {
    width: 100%;
    height: 100%;
    padding: 8px 10px;
}

.dark-mode .notion-collection-view-type-title {
    color: #ffffff82;
    font-weight: initial;
}

.dark-mode .notion-collection-view-type-icon {
    fill: #ffffff82;
}

.light-mode .notion-collection-view-type-title {
    color: #37352f80;
    font-weight: initial;
}

.light-mode .notion-collection-view-type-icon {
    fill: #37352f80;
}

.notion-collection-view-type:hover {
    background-color: var(--bg-color-0);
    border-radius: 3px;
}

.dark-mode .notion-collection-view-type:hover {
    background-color: #f7f7f71a;
}

.notion-collection-view-tabs-content-item {
    padding: 0 0 4px 0;
    height: 30px;
}

.notion-collection-view-tabs-content-item:hover {
    background-color: unset;
    border-radius: unset;
}

.dark-mode .notion-collection-view-tabs-content-item.notion-collection-view-tabs-content-item-active {
    border-bottom: solid 2px var(--fg-color);
}

.dark-mode .notion-collection-view-tabs-content-item.notion-collection-view-tabs-content-item-active .notion-collection-view-type-title {
    color: var(--fg-color);
}

.dark-mode .notion-collection-view-tabs-content-item.notion-collection-view-tabs-content-item-active .notion-collection-view-type-icon {
    fill: var(--fg-color);
}

.light-mode .notion-collection-view-tabs-content-item.notion-collection-view-tabs-content-item-active .notion-collection-view-type-title {
    color: var(--fg-color);
}

.light-mode .notion-collection-view-tabs-content-item.notion-collection-view-tabs-content-item-active .notion-collection-view-type-icon {
    fill: var(--fg-color);
}
/* End of Collection tabs remake */

.notion-collection-card-cover img {
    border-radius: 8px;
}

.notion-gallery-grid.notion-gallery-grid-size-large {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-gap: 6vmin;
    gap: 6vmin !important;
}

.notion-gallery-grid.notion-gallery-grid-size-medium {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 4vmin;
    gap: 4vmin !important;
}

.notion-gallery-grid.notion-gallery-grid-size-small {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 2vmin;
    gap: 2vmin !important;
}

/* Smaller collection item title on small devices */
@media only screen and (max-width: 500px) {
    .notion-gallery-grid.notion-gallery-grid-size-small {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 4vmin;
        gap: 4vmin !important;
    }

    .notion-gallery-grid .notion-page-title-text {
        font-size: 1.5em !important;
    }

    .notion-gallery-grid.notion-gallery-grid-size-small .notion-page-title-text {
        font-size: 1.1em !important;
    }

    .notion-collection-card-body {
        padding: 4px !important;
    }
}

.notion-gallery-grid.notion-gallery-grid-size-small .notion-page-title-text {
    font-size: 1.2em;
}
/* .notion-gallery-grid .notion-gallery-grid-size-small {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2vmin;
} */

/* GLOBAL */
/* End of GLOBAL */

/* BOOKSHELF page */
/* Block id: notion-block-e3236a5529b0457a969ed52fcf138b3c */
.notion-block-e3236a5529b0457a969ed52fcf138b3c .notion-table-view {
    padding: 0 !important;
}
/* End of BOOKSHELF page */