.notion-block-758d7e1d682d4c598313fcddc64f0f90 .notion-page-icon-hero {
    display: none;
}

.notion-block-758d7e1d682d4c598313fcddc64f0f90 .notion-title {
    display: none;
}

.notion-block-758d7e1d682d4c598313fcddc64f0f90 .notion-block-c766f737258c40cd8d70d903ef2e4838 {
    margin-top: inherit;
}

.notion-block-758d7e1d682d4c598313fcddc64f0f90 .title {
    display: none;
}